@tailwind base;
@tailwind components;
@tailwind utilities;

.frame {
  display: grid;
  grid: 
  "tl tr" 1fr
  "bl br" 1fr
  / 1fr 1fr
  ;
}

main {
  grid-area: tl / tl / br / br;
}

.top-left {
  grid-area: tl;
}
.top-right {
  grid-area: tr;
  place-self: start end;
}
.bot-left {
  grid-area: bl;
  place-self: end start;
}
.bot-right {
  grid-area: br;
  place-self: end end;
}